---
layout: page
---
<nav class="navbar bg-light fixed-top flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0 transition" href="{{ site.baseurl }}/index">{% include logo.html %}</a>
      <span id="message" class="col-lg-6">We are interested in your experience of the way we presented this audit report.</span>
      <div class="wizard-steps col-lg-4">
		<ul>
			<li class="">1. Select audit</li>
			<li class="">2. Review Report</li>
			<li class="active">3. Complete survey</li> 
		</ul>
	</div>		
      <!--<ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                  {% include progress-bar.html %}
            </li>
      </ul>-->
</nav>
<div class="container-fluid">
      <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                  <div class="sidebar-sticky">
                        <!--<ul class="nav flex-column">
                              <li class="nav-item">
                                    <a class="nav-link" href="#">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                          Back to top 
                                    </a>
                              </li>
                        </ul>-->
                  </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                  <h2>Please now complete the following questions</h2>
                  <p><a href="{{ site.baseurl }}/audit-report">Step back</a> to look at the audit page again if you wish.</p>
                  <form id="survey" name="survey" class="likert-stacked row survey">
                        <ul class="list-group">
                              <li class="list-group-item question">
                                    <label class="h5"><span class="badge badge-success">1</span>Please indicate to what extent you agree or disagree with the following statements by clicking on the appropriate number.</label>
                              </li>
                              <li class="list-group-item">
                                    <p>A)&nbsp;Over the next three months, I intend to offer dual therapy for adults with type 2 diabetes whose HbA1c level is 58mmol/mol or above (after 6 months with single-drug treatment).</p>
                                    <div class="likert-scale">
                                          <div class="row">
                                                <div class="col-md-6">
                                                      <label class="agree">Strongly agree </label>
                                                </div>
                                                <div class="col-md-2">
                                                      <label class="disagree">Strongly disagree</label>
                                                </div>
                                          </div>
                                          <div class="row">
                                                <div class="form-check form-check-inline col-md-1">   
                                                      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                                                      <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">3</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox4" value="option1">
                                                  <label class="form-check-label" for="inlineCheckbox1">4</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox5" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">5</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox6" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">6</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox7" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">7</label>
                                                </div>
                                          </div>
                                    </div>
                              </li>
                              <li class="list-group-item">
                                    <p>B)&nbsp;Over the next three months, I will do everything I can to ensure that in my practice dual therapy is offered to adults with type 2 diabetes whose HbA1c level is 58mmol/mol or above (after 6 months with single-drug treatment) is done.</p>
                                    <div class="likert-scale">
                                          <div class="row">
                                                <div class="col-md-6">
                                                      <label class="agree">Strongly agree </label>
                                                </div>
                                                <div class="col-md-2">
                                                      <label class="disagree">Strongly disagree</label>
                                                </div>
                                          </div>
                                          <div class="row">
                                                <div class="form-check form-check-inline col-md-1">   
                                                      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                                                      <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">3</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox4" value="option1">
                                                  <label class="form-check-label" for="inlineCheckbox1">4</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox5" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">5</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox6" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">6</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox7" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">7</label>
                                                </div>
                                          </div>
                                    </div>
                              </li>
                              <li class="list-group-item">
                                    <p>C)&nbsp;Even when considering my other clinical priorities over the next three months, I think it is important to offer dual therapy for adults with type 2 diabetes whose HbA1c level is 58mmol/mol or above (after 6 months with single-drug treatment).</p>
                                    <div class="likert-scale">
                                          <div class="row">
                                                <div class="col-md-6">
                                                      <label class="agree">Strongly agree </label>
                                                </div>
                                                <div class="col-md-2">
                                                      <label class="disagree">Strongly disagree</label>
                                                </div>
                                          </div>
                                          <div class="row">
                                                <div class="form-check form-check-inline col-md-1">   
                                                      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                                                      <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">3</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox4" value="option1">
                                                  <label class="form-check-label" for="inlineCheckbox1">4</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox5" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">5</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox6" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">6</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox7" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">7</label>
                                                </div>
                                          </div>
                                    </div>
                              </li>
                        </ul>
                        <ul class="list-group">
                              <li class="list-group-item question">
                                    <label class="h5"><span class="badge badge-success">2</span>What steps or actions will you take to improve the performance of your practice?</label>
                              </li>
                              <li class="list-group-item">
                                    <textarea rows="4" cols="50" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please enter your answer here"></textarea>
                              </li>
                        </ul>
                        <ul class="list-group">
                              <li class="list-group-item">
                                    <label class="h5"><span class="badge badge-success">3</span>Please indicate to what extent you agree or disagree with the following statements by clicking on the appropriate number.</label>
                              </li>
                              <li class="list-group-item">
                                    <p>A)&nbsp;This audit report’s capabilities meet my requirements.</p>
                                    <div class="likert-scale">
                                          <div class="row">
                                                <div class="col-md-6">
                                                      <label class="agree">Strongly agree </label>
                                                </div>
                                                <div class="col-md-2">
                                                      <label class="disagree">Strongly disagree</label>
                                                </div>
                                          </div>
                                          <div class="row">
                                                <div class="form-check form-check-inline col-md-1">   
                                                      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                                                      <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">3</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox4" value="option1">
                                                  <label class="form-check-label" for="inlineCheckbox1">4</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox5" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">5</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox6" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">6</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox7" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">7</label>
                                                </div>
                                          </div>
                                    </div>
                              </li>
                               <li class="list-group-item">
                                    <p>B)&nbsp;This audit report is easy to use.</p>
                                     <div class="likert-scale">
                                          <div class="row">
                                                <div class="col-md-6">
                                                      <label class="agree">Strongly agree </label>
                                                </div>
                                                <div class="col-md-2">
                                                      <label class="disagree">Strongly disagree</label>
                                                </div>
                                          </div>
                                          <div class="row">
                                                <div class="form-check form-check-inline col-md-1">   
                                                      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                                                      <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">3</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox4" value="option1">
                                                  <label class="form-check-label" for="inlineCheckbox1">4</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox5" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">5</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox6" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">6</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox7" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">7</label>
                                                </div>
                                          </div>
                                    </div>
                              </li>
                        </ul>



                         <ul class="list-group">
                              <li class="list-group-item question">
                                    <label class="h5"><span class="badge badge-success">4</span>Please indicate to what extent you agree or disagree with the following statements by clicking on the appropriate number.</label>
                              </li>
                              <li class="list-group-item">
                                    <p>A)&nbsp;I find the information in this audit report easy to understand. </p>
                                    <div class="likert-scale">
                                          <div class="row">
                                                <div class="col-md-6">
                                                      <label class="agree">Strongly agree </label>
                                                </div>
                                                <div class="col-md-2">
                                                      <label class="disagree">Strongly disagree</label>
                                                </div>
                                          </div>
                                          <div class="row">
                                                <div class="form-check form-check-inline col-md-1">   
                                                      <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                                                      <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">3</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox4" value="option1">
                                                  <label class="form-check-label" for="inlineCheckbox1">4</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox5" value="option2">
                                                  <label class="form-check-label" for="inlineCheckbox2">5</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox6" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">6</label>
                                                </div>
                                                <div class="form-check form-check-inline col-md-1">
                                                  <input class="form-check-input" type="radio" id="inlineCheckbox7" value="option3">
                                                  <label class="form-check-label" for="inlineCheckbox3">7</label>
                                                </div>
                                          </div>
                                    </div>
                              </li>
                        </ul>     
                        <ul class="list-group">
                              <li class="list-group-item">
                                    <div class="mr-2">
                                          <a href="{{ site.baseurl }}/audit-report" class="btn btn-link transition">Back<span class="fa arrow"></span></a>
                                          <a href="{{ site.baseurl }}/thank-you" class="btn btn-success transition">Submit<span class="fa arrow"></span></a>
                                    </div>  
                              </li>
                        </ul>     
                  </form>        
                  <script>
                    document.getElementsByClassName("progress-bar")[0].setAttribute("style", "width:80%");
                  </script>
            </main>
      </div>
</div>
